<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>08:40</td>  <td>Open the Zoom room</td> </tr>
      <tr> <td>09:00</td>  <td>Data visualisation with ggplot2</td> </tr>
      <tr> <td>10:15</td>  <td>break</td> </tr>
      <tr> <td>10:30</td>  <td>Data subsetting with dplyr</td> </tr>
      <tr> <td>11:50</td>  <td>Wrap-up for Day 1</td> </tr>
      <tr> <td>12:00</td>  <td>(Optional) Debriefing, continuation on exercises, Q&A</td> </tr>
      <tr> <td>12:30</td>  <td>Close the Zoom room</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:40</td>  <td>Open the Zoom room</td> </tr>
      <tr> <td>09:00</td>  <td>Adding and altering variables with dplyr</td> </tr>
      <tr> <td>10:15</td>  <td>break</td> </tr>
      <tr> <td>10:30</td>  <td>Reshaping data with tidyr</td> </tr>
      <tr> <td>11:50</td>  <td>Wrap-up for Day 2</td> </tr>
      <tr> <td>12:00</td>  <td>(Optional) Debriefing, continuation on exercises, Q&A</td> </tr>
      <tr> <td>12:30</td>  <td>Close the Zoom room</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>08:40</td>  <td>Open the Zoom room</td> </tr>
      <tr> <td>09:00</td>  <td>Data summaries with dplyr</td> </tr>
      <tr> <td>10:15</td>  <td>break</td> </tr>
      <tr> <td>10:30</td>  <td>Summaries, pivots and visualisations</td> </tr>
      <tr> <td>11:50</td>  <td>Wrap-up for Day 3</td> </tr>
      <tr> <td>12:00</td>  <td>(Optional) Debriefing, continuation on exercises, Q&A</td> </tr>
      <tr> <td>12:30</td>  <td>Close the Zoom room</td> </tr>
    </table>
  </div>
</div>
